@media screen and (min-width: 1200px) {}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 992px) {
   .banner-detail .banner-info {
        top: 15%;
    }
}

@media (min-width: 768px) and (max-width: 930px) {
    .banner-detail .banner-info {
        top: 15%;
    }
    .banner-detail .banner-info h3 {
    	margin-top: 30px;
    }
		.banner-detail .banner-info a {
			font-size: 26px;
		}
		.banner-img {
    display: block;
    height: 250px;
  }
  .banner-img img {
  	display: block;
  	height: 100%;
  }
}
@media screen and (max-width: 768px){
  .main-menu .menu li a {
     padding: 1.3px 0;
  }
  .main-menu .menu li .menu-block {
    width: 100%;
    position: static;
    transform: translate(0);
    margin-left: 0;
    padding-left: 0;
    }
    .main-menu .menu li .menu-block::before {
      display: none;
    }
    .main-menu .menu li .menu-block .information-right,
    .main-menu .menu li .menu-block .information-left {
      width: 100%;
      float: none;
    }
    .main-menu .menu li .menu-block .info h5 {
      font-size: 14px;
    }
    .main-menu .menu li .menu-block .title-information {
      font-size: 15px;
    }
	.banner-detail .banner-info {
    top: 5%;
  }
  .banner-detail .banner-info span {
    font-size: 22px;
  }
  .banner-detail .banner-info h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .banner-detail .banner-info a {
    padding: 10px 45px;
  }
  .banner-product a {
    text-align: center;
  }
  .banner-product a img {
    display: inline-block;
  }
  .banner-product {
    margin-bottom: 20px;
  }
  .tabmenu-product .list-tabs li {
    margin-right: 5px;
    margin-bottom: 15px;
  }
  .tabmenu-product .list-tabs li a {
    padding: 10px 13px;
    font-size: 12px;
  }
  .products-hot .title-product-hot,.Feedback .title-feedback {
    margin-bottom: 20px;
  }
   .products-hot .title-product-hot h2,.Feedback .title-feedback h2 {
     font-size: 26px;
   }
   .slide-top .owl-nav .owl-prev, .slider-teacher .owl-nav .owl-prev,
   .slider-feedback .owl-nav .owl-prev {
     left: 0;
   }
   .slide-top .owl-nav .owl-next,.slider-teacher .owl-nav .owl-next,
   .slider-feedback .owl-nav .owl-next {
     right: 0;
   }
   .ads .signup-ads a {
     padding: 13px 45px;
   }
   .clickme {
    display: inline-block;  
   }
}
@media screen and (max-width: 767px) {
    .logo-brand {
      width: 35%;
    }
    .header-right {
      width: 65%;
    }
    .clickme {
      display: inline-block;
      background: none;
      font-size: 33px;
      color: #FF9100;
      border: none;
      margin-top: 5px;
      margin-left: 10px;
    }
    .clickme:hover,.clickme:active,.clickme:focus {
      border: none;
      color: #000;
      outline: none;
    }
    .main-menu {
      position: fixed;
      left: 0;
      z-index: 2;
      display: none;
    }
    .mobile-menu {
      margin: 0;
      display: block;
      -webkit-animation:  mobile .2s   ease-in;
              animation: mobile .2s  ease-in;
    }
    .slider .main-slider {
       padding: 0;
    }
    .wrapper-product {
        margin: 0 -15px;
    }
    .wrapper-product .custom-col:first-child {
    padding-left: 15px;
  }
  .wrapper-product .custom-col:last-child {
      padding-right: 15px;
  }
  .product {
    width: 50%;
    margin: 0 auto 20px;
  }
  .product .pro-detail {
    padding-top: 5px;
  }
  .row-tab-product {
    display: flex;
  }
  .row-tab-product .product {
    width: 100%;
  }
  .banner-detail .banner-img {
    width: 100%;
    height: 200px; 
  }
  .banner-detail .banner-img img {
    min-height: 100%;
  }

  
}

@media screen and (max-width: 480px) {
    .header-right .upload {
        padding: 6px 14px;
    }
    .header-right .login {
       padding: 8px 26px;
       margin-left: 18px;
    }
    .slider .col-menu {
      margin: 0;
      padding: 0;
    }
    .slider .main-slider {
     /*    padding-left: 15px; */
    }
    .slide-adv .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
    }
   .product {
        width: 85%;
        margin: 0 auto 20px;
    }
    .tabmenu-product .list-tabs li a {
        padding: 8px 12px;
        font-size: 12px;
    }
    .slide-top .owl-nav {
      top: 40%;
    }
    .slider-feedback .owl-nav {
      top: 40%;
    }
    .slider-teacher .owl-nav {
      top: 40%;
    }
    .row-tab-product {
        display: block;
    }
    .banner-detail .banner-info {
        top: 5%;
        left: 25%;
    }
    
    .list-footer {
      margin-bottom: 10px;
   }
   .title-footer {
        margin-bottom: 15px;
    }
    .list-footer ul {
      margin-left: 0;
    }
}
@media screen and (max-width: 414px) {
  .logo-brand .logo span {
      font-size: 20px;
      width: 100%;
  }
  .logo-brand .logo h1 {
      width: 90%;
      display: block;
  }
  .header-right .upload {
     padding: 4px 8px;
  }
  .header-right .login {
    padding: 6px 10px;
    margin-left: 10px;
  }
  .slide-adv .owl-dots {
    left: 30%;
    margin-top: 0;
  }
  .tabmenu-product .list-tabs li a {
    padding: 6px 8px;
    font-size: 12px;
}
  .row-tab-product {
    display: block;
  }
  .row-tab-product .product {
    display: block;
    height: auto;
  }
.product-tab .pro-img {
    width: 35%;
    height: auto;
}
 .product-tab .pro-detail {
    padding-top: 10px;
    width: 65%;
}
  .information {
    padding: 5px;
  }
  .information .pro-img .info-avatar h5 {
    margin: 10px 0 15px;
    font-size: 24px;
  }
  .banner-detail .banner-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .banner-detail .banner-info a {
    padding: 10px 28px;
    font-size: 28px;
  }
  .products-hot .title-product-hot h2, .Feedback .title-feedback h2 {
    font-size: 24px;
  }


}
@media screen and (max-width: 375px) {
  .logo-brand .logo span {
    font-size: 18px;
  }
  .product {
      width: 100%;
  }

} 
@media screen and (max-width: 360px) {
  .header-right {
    font-size: 12px;
  } 
  .logo-brand .logo span {
    font-size: 15px;
}

}

@media screen and (max-width: 320px) {}















/* animation */
@keyframes mobile {
  0%{
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100%{
       -webkit-transform: translate(0%);
            transform: translate(0%);
   }
}

